{
  "extends": ["standard", "standard-react"],
  "plugins": ["react-hooks"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ]
  }
}