* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.25em;
  border-radius: 10px;
  background-color: #F9F9F9;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}

.highscores,
.game-stats {
  display: flex;
  justify-content: space-between;
  width: 10em;
  margin: 5px 20px;
}

.counter,
.highscores {
  padding-top: 5px;
}

.game-table ul {
  margin: 0 auto;
  list-style-type: none;
}

.game-table ul li {
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
  width: 90%;
  height: 100%;
}

.flip-card {
  width: 10em;
  height: 10em;
  margin: 10px;
  perspective: 1000px; /* !!! */
  background-color: transparent; /* !!! */
}

.flip-card-inner {
  position: relative; /* !!! */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* !!! */
  transition: transform 0.6s; /* !!! */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.flipped {
  transform: rotateY(180deg); /* !!! */
}

.flip-card-front,
.flip-card-back {
  position: absolute; /* !!! */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* !!! */
  backface-visibility: hidden; /* !!! */
  border-radius: 10px;
}

.flip-card-front {
  transform: rotateY(180deg); /* !!! */
  background-color: #FFFFFF;
  // background-color: #BBBBBB;
  color: #000000;
}

.flip-card-back {
  background-color: transparent;
  color: #FFFFFF;
}

.card-back-img {
  width: 100%;
  height: 100%;
}

.card-front-img {
  width: 80%;
  height: 80%;
  margin-top: 10%;
}

.start-stop-btn {
  width: 5em;
  height: 2em;
  padding: 2.5px 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-weight: bold;

  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.play-btn {
  background-color: #14AE0F;

  &:hover {
    background-color: #1BDA15;
  }
}

.pause-btn {
  background-color: #B84213;

  &:hover {
    background-color: #E85318;
  }
}

@media screen and (max-width: 950px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    display: block;
    width: 80%;
  }

  hr {
    width: 55%;
    margin: 0 auto;
  }

  .highscores,
  .game-stats {
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 350px) {
  hr {
    width: 65%;
  }
}
