* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.25em;
  border-radius: 10px;
  background-color: #EBEBEB;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}

.highscores,
.game-stats {
  display: flex;
  justify-content: space-between;
  width: 10em;
  margin: 5px 20px;
}

.highscores {
  width: 9em;
}

.counter,
.highscores {
  padding-top: 5px;
}

.start-stop-btn {
  width: 5em;
  height: 2em;
  padding: 2.5px 8px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-weight: bold;

  &:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.play-btn {
  background-color: #14AE0F;

  &:hover {
    background-color: #1BDA15;
  }
}

.pause-btn {
  background-color: #B84213;

  &:hover {
    background-color: #E85318;
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: 80%;
  }

  .highscores {
    width: 10em;
  }
}

@media screen and (max-width: 570px) {
  .header {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    display: block;
    width: 80%;
  }

  hr {
    width: 55%;
    margin: 0 auto;
  }

  .highscores,
  .game-stats {
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    display: block;
    width: 80%;
  }

  hr {
    width: 65%;
  }
}
