.gameTable ul {
  margin: 0 auto;
  list-style-type: none;
}

.gameTable ul li {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
  width: 90%;
  height: 100%;
}

.cardFrontImg {
  width: 80%;
  height: 80%;
  margin-top: 10%;
}

.cardBackImg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 950px) {
  .gridContainer {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 750px) {
  .gridContainer {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .gridContainer {
    grid-template-columns: auto auto;
  }
}
